.panel-player {
  position:absolute;
  top:50%;
  left:50%;
  z-index:60;
  transition: opacity 0.5s;
  overflow: visible;
  backface-visibility: hidden;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  pointer-events: auto;

  &.hidden{
    opacity: 0;
  }
}
