.startScreen{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(255,255,255, 0.4);
  z-index:20;

  .instruction{
    position: absolute;
    top:60%;
    left:50%;
    width:60%;
    text-align: left;
    color:#333;
    font-size: 16px;
    margin-left:320px;
    margin-top:-36px;

    span {
      display: block;
      line-height:24px;
    }
  }

      &:after{
        position:absolute;
        top:60%;
        left:50%;
        text-align: center;
        content:'< click to start >';
        display: block;
        margin-top:-20px;
        margin-left: -150px;
        width:300px;
        height:40px;
        font-size: 40px;
        color:#333;
        .blink;
      }
}

.blink {
  animation: animation-blink 3s linear infinite;
}

@keyframes animation-blink {
  50% { opacity: 0.5; }
}
