@font-face {
  font-family: 'soccerIcon';
  src:  url('soccerIcon.eot?ytckoe');
  src:  url('soccerIcon.eot?ytckoe#iefix') format('embedded-opentype'),
    url('soccerIcon.ttf?ytckoe') format('truetype'),
    url('soccerIcon.woff?ytckoe') format('woff'),
    url('soccerIcon.svg?ytckoe#soccerIcon') format('svg');
  font-weight: normal;
  font-style: normal;
}
